@using ToDoList.Utils.Helpers;
@{
    ViewBag.Title = "Strona główna";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Niesamowita strona główna ToDo APP</h3>
                <div class="right">
                    <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                    <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="center-block col-md-8" style="float: none;">
                        @Html.Slider("carousel-example-generic", (List<string>)ViewData["Slides"])
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Javascripts {
    <script>
        $('.carousel').carousel()
    </script>
}